.container {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.roomRowComponent {
  display: flex;
  flex-direction: row;
  margin: 10px 80px;
  gap: 0px 20px;
}

.roomColumnComponent {
  display: flex;
  flex-direction: column;
  height: 150px;
  flex: 1;
  gap: 20px 0px;
  box-sizing: border-box;
}

.roomButtonBox {
  display: flex;
  height: 150px;
  border-radius: 15px;
  border: 1px solid #757575;
  background: #f9f9f9;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  gap: 10px;
  box-sizing: border-box;
}

.roomButtonTitleText {
  padding: 10px 20px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 50px */
}

.roomButtonDescriptionText {
  padding: 10px 20px;
  color: #767676;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 36px */
}
