.container {
  display: flex;
  top: 0px;
  z-index: 0;
  display: flex;
  flex-direction: column;
align-items: center;
  text-align: center;
}

.loginBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 470px;
  flex-shrink: 0;
  border: 2px solid rgba(149, 223, 218, 0.78);
  background: rgba(1, 209, 196, 0.04);

}

.titleText{
  color: #000;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 100%; /* 30px */
}

.inputStyle{
  
}

.logo{
  margin: 30px auto;
  width: 100px;
}